@page "/manageusers"
@inject HttpClient http
@inject NavigationManager navigationManager

<h3 class="center">
    <a href="/admin"> <span class="oi oi-arrow-circle-right"></span> </a>
    مدیریت کاربران
</h3>

<div class="card">
  <div class="card-header">
      لیست کاربران
  </div>
  <div class="card-body">      
      <ul class="list-group list-group-flush">
        @foreach (var user in usersInfoes)
        {
            <li class="list-group-item">
                <button class="btn btn-link" @onclick="@(async () => await BtnDeleteUser(user.UserName))">
                    <span class="oi oi-trash"></span>
                </button>
                @(user.UserName) : @(user.IsAdmin ? "مدیر" : "کاربر")
            </li>
        }
      </ul>
  </div>
  <div class="card-footer">
      <button class="btn btn-primary" @onclick="@(async () => await BtnAddNewUser())">کاربر جدید</button>
  </div>
</div>

<p class="text-danger">@errorMsg</p>

@code 
{
    private List<UserInfo> usersInfoes = new List<UserInfo>();
    string errorMsg="";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            var result = await http.GetFromJsonAsync<TbActionResult<List<UserInfo>>>("api/Authorize/GetUsers");
                
            if (result.Success == false)
            {
                errorMsg = result.Desc;
                return;
            }

            usersInfoes = result.Object; 
        }
        catch (System.Exception err)
        {
            if (err.ToString().Contains("Unauthorized"))
            {
                navigationManager.NavigateTo("login");
            }
        }
        

    }

    async Task BtnDeleteUser(string strUserName)
    {
        await Task.Run(() => {errorMsg = $"حذف {strUserName}؟ امکان حذف کاربر هنوز وجود ندارد.";});
        
    }

    async Task BtnAddNewUser()
    {
        await Task.Run(() => {errorMsg = $"امکان افزودن کاربر جدید هنوز وجود ندارد";});
        
    }
}